@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #DC4405;
  --secondary: #990984;
  --primary-foreground: #FFE982;
  --poppins: Poppins, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--poppins)
}
